<br /><h3>Kies een team</h3>

<div class='team_tiles'>
<% @teams.each do |team| %>
	<div class='team_tile'>
		<a class='link_overlay' href='<%= team_path team %>'></a>
		<div class='title'><%= team.title %></div>
		<div class='members'><%= team.members.map{ |m| m.name }.join ', ' %></div>
	</div>
<% end %>
</div>

<br />
