.new_workout .workout_config_preview {
  display: inline; }

.edit_workout .member_workout .header {
  background-color: #e0e0e0;
  border-bottom: 1px solid #c0c0c0;
  line-height: 2; }
.edit_workout .member_workout .content {
  padding-top: 1px; }
.edit_workout .member_workout .member_name {
  float: left;
  width: 10em;
  line-height: 2;
  padding-right: 5px;
  padding-left: 10px;
  font-weight: bold; }
.edit_workout .member_workout .pace_cell {
  float: left;
  width: 5em;
  padding-left: 5px; }
.edit_workout .member_workout .hravg_cell {
  float: left;
  width: 5em; }
.edit_workout .member_workout .buttons_cell {
  float: left;
  width: 10em; }
.edit_workout .member_workout .intervals {
  width: 250px; }
.edit_workout .member_workout .interval_name {
  line-height: 2;
  padding-left: 1px 0 1px 10px; }
.edit_workout .member_workout label {
  margin-left: 10px;
  display: block; }
.edit_workout .member_workout textarea {
  margin-left: 5px; }
.edit_workout .member_workout input.pace {
  width: 5em;
  margin: 1px 0 0px -6px;
  padding: 0 5px;
  line-height: 2; }
.edit_workout .member_workout input.hravg {
  width: 3em;
  padding: 0 5px 0 1.5em;
  margin: 1px 0 0px -1.5em;
  line-height: 2; }
.edit_workout .member_workout label.hravg {
  position: relative;
  display: inline;
  margin: 0; }
